body{
    background-color: black;
}

video {
    display: block;
    max-width: 90vw;
    max-height:100vh;
    left: 100;
    rotate: -90deg;
    /* deze updaten met de juiste verhoudingen zodra we de goede videos hebben */
}