body{
    background-color: rgb(35, 215, 255);
    display: flex;
    flex-direction: row;
}

video {
    /* display:block; */
    /* position: absolute; */
    max-width: 100vw;
    /* max-height:100vw; */
    /* left: -100%; */
    /* top: 2em; */
    /* rotate: 90deg; */
    /* transform: translateX(-40%); */
    /* transform: translateY(-20%); */
    /* border: yellowgreen, 2em, double; */
    /* deze updaten met de juiste verhoudingen zodra we de goede videos hebben */
}